.btn {
    color: #fff;
    text-align: center;
}
#add-view {
    display: none;
  }
  #edit-view {
    display: none;
  }
  #edit-form-view {
    display: none;
  }
#search {
    display: block;
    margin: 15px auto;
    width: 280px;
}
.search {
    height: 30px;
    line-height: 2px;
    border: 1px solid gray;
    color: black;
    
}
#validate-form {
    color: red;
    display: none;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;

}

