.btn {
    color: #fff;
    text-align: center;
}
#add-view {
    display: none;
  }
  #edit-view {
    display: none;
  }
  #edit-form-view {
    display: none;
  }
#search {
    display: block;
    margin: 15px auto;
    width: 280px;
}
.search {
    height: 30px;
    line-height: 2px;
    border: 1px solid gray;
    color: black;
    
}
#validate-form {
    color: red;
    display: none;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 20px;

}

@media all and (min-width:370px) {
    .fa-search {
        left: 276px;
        top: 131px;
    }
}
@media all and (min-width:400px) {
    .fa-search {
        left: 295px;
    }
}
@media all and (min-width:768px) {
    .fa-search {
        left: 473px;
        top:163px;
    }
}
@media all and (min-width:920px) {
    .fa-search {
        left: 601px;
    }
}
@media all and (min-width:1200px) {
    .fa-search {
        left: 1048px;
    }
}